<template>
  <div>
    <transition name="bounce">
      <div class="container-fluid" v-if="startConcert">
        <div class="row no-gutters">
          <div
            v-show="sidebar.active"
            class="col-lg-3 col-md-4 sidebar col-md-push-4"
          >
            <div class="wrapper">
              <div v-for="chapter in course.data.chapters" :key="chapter.title">
                <h2 class="ctitle quin">
                  {{ chapter.title }}
                  <span v-if="vid === ''">(Please select a song to start)</span>
                </h2>
                <ul class="episodes">
                  <li
                    @click="playVid(episode.vid, index, chapter.episodes)"
                    v-for="(episode, index) in chapter.episodes"
                    :key="episode.vid"
                  >
                    <h3 class="etitle">{{ episode.title }}</h3>
                    <span class="eduration"> {{ episode.length }} </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            :class="
              sidebar.active
                ? 'col-lg-9 col-md-8 player col-md-pull-8'
                : 'col-lg-10 col-md-10 player offset-md-1'
            "
          >
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <h1 class="coursetitle quin">
                      Daphlyn Piano Studio <br />Video Recital 2020
                    </h1>
                  </div>
                </div>
              </div>
              <transition name="fade">
                <div class="course-player" v-if="vid !== ''">
                  <iframe
                    :src="'https://www.youtube.com/embed/' + vid"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <div v-else>
                  <img src="/pianohall.jpg" style="width: 100%" />
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>
      <template v-else>
        <video-background
          @ready="loadStartButton"
          ref="videobackground"
          src="/background.mp4"
          :sources="[
            { src: 'background.mp4', res: 900, autoplay: true },
            { src: 'background.mp4', res: 638, autoplay: true },
          ]"
          style="height: 100vh"
        >
          <transition name="bounce">
            <div
              class="container text-center"
              style="margin-top: 50px"
              v-if="page === 0"
            >
              <h1 class="display-4" style="color: white">
                <span style="font-size: 80%">WELCOME TO</span><br />
                <span class="outlined" style="font-weight: 900"
                  >Daphlyn Piano Studio</span
                ><br />
                <span class="quin" style="font-size: 80%; color: #000"
                  >VIDEO RECITAL 2020
                </span>
              </h1>

              <div id="loading-wrapper" v-if="!showStart">
                <div id="loading-text">LOADING</div>
                <div id="loading-content"></div>
              </div>
              <div
                v-else
                style="
                  margin-top: 50px;
                  color: white;
                  background: black;
                  border: none;
                "
                class="btn btn-primary btn-lg"
                @click="page = 1"
              >
                Next
              </div>
            </div>
            <div v-else-if="page === 1" class="write-up">
              <h6>
                <b>Dear parents and students,</b><br />
                <br />
                Once again, we’ve come to the time of the year where students of
                Daphlyn Piano Studio get the opportunity to showcase their
                talent.
                <br />
                <br />This year is a special one. I must say that I’m extremely
                proud of every single student and parent for putting up with
                zoom classes, let alone the countless scanning of theory
                homework as well as video recordings. I see and appreciate all
                your effort. And amazingly, it is also during this time that I
                witnessed vast improvements in many students! Thank you for
                sticking with me and for the trust that you have given me this
                year. You guys made me a blessed teacher!<br />
                <br />
                Meanwhile, grab yourself a cup of coffee, sit back in the
                comfort of your favorite couch and let us welcome all lovely
                pianists!<br />
                <br />
                Your piano teacher,<br />
                Daphlyn
              </h6>
              <div style="text-align: center">
                <div
                  style="
                    margin-top: 50px;
                    color: white;
                    background: black;
                    border: none;
                  "
                  class="btn btn-primary btn-lg"
                  @click="startConcert = true"
                >
                  START
                </div>
              </div>
            </div>
          </transition>
        </video-background>
      </template>
    </transition>
  </div>
</template>
v

<script>
import course from './data/course.json'
import VideoBackground from 'vue-responsive-video-background-player'
export default {
  name: 'App',
  data() {
    return {
      vid: '',
      sidebar: { active: true },
      course,
      page: 0,
      startConcert: false,
      showStart: false,
    }
  },
  components: {
    VideoBackground,
  },

  methods: {
    toggleSidebar() {
      this.sidebar.active = !this.sidebar.active
    },
    playVid(videoId, index, episodes) {
      this.vid = videoId
    },
    showConcert() {
      this.startConcert = true
    },
    loadStartButton() {
      this.showStart = true
    },
  },
}
</script>

<style>
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(20, 121, 60);
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #f00;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: rgb(121, 61, 185);
  border-bottom-color: rgb(121, 61, 185);
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.write-up {
  margin: 40px auto;
  background: rgb(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  max-width: 600px;
}
</style>
